*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  font-size: 1.6rem;
  background-color: #333;
  color: #fff;
  font-family: "Silkscreen", cursive;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
  width: 100vw;
  max-width: 1400px;
  margin: auto;
  padding: 3rem;
  position: relative;
}

.section-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 2rem;
}
.section-title::after, .section-title::before {
  content: " --- ";
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: auto;
}
nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  z-index: 100;
}
nav ul li {
  position: relative;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0.5rem;
}
nav ul li a:hover {
  color: rgb(206, 71, 8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  letter-spacing: 5px;
}
nav ul li .moody {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url("../img/moody.png");
  background-position: center;
  background-position-y: -2%;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
nav ul li .moody:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 10px;
}
nav ul li .navi__logout-btn {
  text-decoration: none;
  color: #fff;
}
nav .loginStatus {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 84px;
  z-index: 80;
}
nav .loginStatus .dot {
  position: absolute;
  right: 6%;
  top: 50%;
}
nav .loginStatus .dot .dottest {
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(45deg) translateY(-5px);
          transform: rotate(45deg) translateY(-5px);
  background-color: gray;
}
nav .loginStatus .dot .dottest--admin {
  background-color: rgb(119, 235, 109);
}
nav .nav__mobile {
  position: fixed;
  width: 100vw;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  opacity: 1;
  z-index: 1000;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav .nav__mobile .menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  z-index: 1000;
}
nav .nav__mobile .line {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
nav .nav__mobile .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
nav .nav__mobile .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
nav .nav__mobile .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
nav .nav__mobile .opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
nav .nav__mobile .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
nav .nav__mobile .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
nav .nav__ul--mobile {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background: rgb(206, 71, 8);
  background: linear-gradient(28deg, rgb(206, 71, 8) 0%, rgb(253, 187, 45) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1);
  z-index: 900;
  opacity: 1;
}

.hero {
  position: relative;
  z-index: 80;
  width: 100vw;
  height: 100vh;
}
.hero .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  cursor: pointer;
}
.hero .slick-dots > * {
  margin: 20px;
  margin-top: -88px;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background-color: #333;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transform: scale(1) rotate(45deg);
          transform: scale(1) rotate(45deg);
  z-index: 150;
}
.hero .slick-dots > *:hover {
  -webkit-transform: scale(1.2) rotate(-90deg);
          transform: scale(1.2) rotate(-90deg);
  background-color: rgb(240, 160, 12);
}
.hero .slick-dots > * > button {
  opacity: 0;
}
.hero .hero__subpage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-image: url("../img/A05.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.hero .hero__slider {
  position: relative;
}
.hero .hero__slider .hero__card {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.hero .hero__slider .hero__card--1 {
  background-image: url("../img/A05.jpg");
  background-position-x: left;
}
.hero .hero__slider .hero__card--2 {
  background-image: url("../img/A02.jpg");
}
.hero .hero__slider .hero__card--3 {
  background-image: url("../img/A03.jpg");
}
.hero .hero__slider .hero__card--4 {
  background-image: url("../img/A04.jpg");
}
.hero .hero__slider .hero__card--5 {
  background-image: url("../img/A01.jpg");
}
.hero .hero__slider .hero__card--6 {
  background-image: url("../img/A07_2.jpg");
}
.hero .hero__slider .hero__card--7 {
  background-image: url("../img/A08_2.jpg");
}
.hero--shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(237, 131, 5);
  background: linear-gradient(132deg, rgba(237, 131, 5, 0) 0%, rgba(237, 131, 5, 0.5989056756) 100%);
  z-index: 90;
}
.hero__info {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #fff;
  z-index: 160;
  padding: 2rem;
  margin: 4rem;
}
.hero__info a {
  text-decoration: none;
}
.hero__info .hero__title {
  font-size: 2rem;
}
.hero__info .hero__text {
  font-size: 1rem;
}
.hero__info .hero__btn {
  font-size: 1rem;
  margin: 1rem;
  padding: 1.2rem;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.hero__info .hero__btn > * {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.hero__info .hero__btn:hover {
  -webkit-transform: rotate(-90deg) scale(1.5);
          transform: rotate(-90deg) scale(1.5);
  background-color: rgb(240, 160, 12);
}
.hero__info .hero__btn:hover > * {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.shorts {
  color: #333;
  width: 100vw;
  height: auto;
  background: #fff;
}
.shorts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  padding: 3rem;
  margin: 2rem 0;
  border-radius: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(240, 160, 12, 0.1);
}
.shorts__box .shorts__card {
  background-color: rgba(240, 160, 12, 0.1);
  width: 100%;
  height: auto;
  padding: 3rem;
  border-radius: 5px;
}
.shorts__info {
  font-size: 1.4rem;
  margin-left: 5rem;
}
.shorts__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.shorts p {
  margin-top: 15px;
}
.shorts a {
  text-decoration: none;
  color: rgb(240, 160, 12);
  padding: 3rem;
}
.contact {
  position: relative;
  background: rgb(127, 4, 175);
  background: -webkit-gradient(linear, left top, right top, from(rgb(127, 4, 175)), to(rgb(18, 94, 215)));
  background: linear-gradient(90deg, rgb(127, 4, 175) 0%, rgb(18, 94, 215) 100%);
  width: 100vw;
}
.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.contact__box .contact__card {
  margin: 2rem;
  padding: 0.4rem;
  font-size: 1.4rem;
}
.contact__box .contact__card > * {
  padding: 1rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.contact__box .contact__card a {
  text-decoration: none;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contact__box .contact__card a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fff;
}
.contact__box .contact__card--one {
  color: #fff;
}
.contact__box .contact__card--one a {
  color: rgb(18, 94, 215);
}
.contact__box .contact__card--two {
  color: #fff;
}
.contact__box .contact__card--two a {
  color: #8f0dc2;
}

.login {
  margin-top: 5rem;
}
.login .file {
  display: none;
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.login .file-label {
  width: 100vw;
  max-width: 1400px;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login .file-label label:hover {
  /* filter: brightness(55%); */
  color: rgb(240, 160, 12);
}
.login .error {
  color: red;
  padding-bottom: 25px;
  cursor: default;
}
.login .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.login .login__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}
.login__form {
  max-width: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.login__form .login__info {
  font-size: 1rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(240, 160, 12);
}
.login__form > * {
  margin: 2rem;
  padding: 2rem;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__form input {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 15px;
  padding: 0 1rem;
}
.login__form .button {
  cursor: pointer;
  font-family: "Silkscreen", cursive;
  font-size: 1rem;
  background: rgb(240, 160, 12);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}
.login__form .button:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  background: rgb(206, 71, 8);
}

.control__info {
  width: 100%;
  height: auto;
  text-align: center;
}
.control__box {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem;
}
.control__buttons {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.control__buttons .btn {
  font-size: 1.2em;
  font-family: "Silkscreen", cursive;
  color: #fff;
  width: 100px;
  height: 50px;
  background: rgb(240, 160, 12);
  border: 0px;
  margin: 10px 10px;
  position: relative;
  -webkit-box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
          box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.control__buttons .btn--estop {
  background-color: tomato;
}
.control__buttons .btn:hover {
  cursor: pointer;
  background-color: rgb(206, 71, 8);
}
.control__buttons .btn:active {
  top: 5px;
  -webkit-box-shadow: -4px 2px 1px 1px grey, -4px -2px 1px 1px lightgray, 4px 0px 1px 1px lightgray;
          box-shadow: -4px 2px 1px 1px grey, -4px -2px 1px 1px lightgray, 4px 0px 1px 1px lightgray;
}
.control__buttons .btn::after {
  content: "";
  background: rgb(169, 169, 169);
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}
.control__buttons .btn::before {
  content: "";
  background: rgb(169, 169, 169);
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 113%;
  z-index: -1;
}
.control__buttons .btn {
  width: 33%;
}
.control .slidecontainer {
  width: 100%;
  margin-top: 5rem;
}
.control .slidecontainer .axis-slider {
  -webkit-appearance: none;
  width: 65%;
  height: 25px;
  background: #fff;
  outline: none;
  margin: 2rem 0;
  opacity: 1;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-radius: 3px;
}
.control .slidecontainer .axis-slider:hover {
  opacity: 1;
}
.control .slidecontainer .axis-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(240, 160, 12);
  cursor: pointer;
}
.control .slidecontainer .axis-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(240, 160, 12);
  cursor: pointer;
}
.control__visualization {
  width: 100%;
  height: 400px;
  padding: 3rem;
  border-radius: 15px;
  background-color: #fff;
}
.control__ip-box {
  text-align: center;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
}
.control__ip-box .ip {
  text-align: center;
  margin: 0;
  height: 3rem;
  width: 200px;
  font-size: 1.2em;
  padding: 1rem;
  font-family: "Silkscreen", cursive;
  color: #333;
  border-radius: 12px;
}

.sequence {
  background-color: #fff;
  color: #333;
  position: relative;
}
.sequence__info {
  width: 100%;
  height: auto;
  text-align: center;
}
.sequence__box {
  position: relative;
  height: auto;
  padding: 3rem 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sequence__programs {
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 5px 1px gray;
          box-shadow: 1px 1px 5px 1px gray;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: rgb(240, 160, 12);
  width: 30%;
  height: auto;
}
.sequence__program {
  position: relative;
  padding: 2rem;
  cursor: move;
  z-index: 2;
}
.sequence__sequence {
  position: relative;
  background-color: rgb(188, 188, 188);
  width: 70%;
  height: auto;
  max-height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.5rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px 1px gray;
          box-shadow: 1px 1px 5px 1px gray;
  z-index: 1;
}
.sequence__sequence .sequence__program {
  position: relative;
  margin: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: move;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.sequence__sequence .sequence__program p {
  margin-top: 5px;
  position: absolute;
  font-size: 1rem;
  top: 0;
}
.sequence__sequence .sequence__program input {
  width: 60px;
  height: 20px;
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: rgb(188, 188, 188);
  font-family: "Silkscreen", cursive;
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}
.sequence__sequence .sequence__program .sequence__task-control {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding-right: 1rem;
  background-color: #fff;
  z-index: -1;
}
.sequence__sequence .sequence__program .sequence__task-control .btn {
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  margin: 0;
  background-color: transparent;
  color: rgb(206, 71, 8);
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  cursor: pointer;
}
.sequence__sequence .info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  z-index: -1;
  animation: resize 2s 1s infinite alternate-reverse;
  overflow: hidden;
}
@-webkit-keyframes resize {
  from {
    font-size: 2rem;
  }
  to {
    font-size: 1rem;
  }
}
@keyframes resize {
  from {
    font-size: 2rem;
  }
  to {
    font-size: 1rem;
  }
}
.sequence__sequence::-webkit-scrollbar {
  overflow: hidden;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 30px;
}
.sequence__sequence::-webkit-scrollbar-track {
  overflow: hidden;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #f1f1f1;
}
.sequence__sequence::-webkit-scrollbar-thumb {
  overflow: hidden;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(240, 160, 12);
}
.sequence__sequence::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 71, 8);
  cursor: pointer;
}
.sequence__dropzone {
  margin: 3rem;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.4);
}
.sequence__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}
.sequence__submit .sequence__btn {
  margin-top: 5rem;
}
.sequence__submit .sequence__btn .btn {
  font-size: 1.2em;
  font-family: "Silkscreen", cursive;
  color: #fff;
  width: 100px;
  height: 50px;
  background: rgb(240, 160, 12);
  border: 0px;
  margin: 10px 10px;
  position: relative;
  -webkit-box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
          box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sequence__submit .sequence__btn .btn--estop {
  background-color: tomato;
}
.sequence__submit .sequence__btn .btn:hover {
  cursor: pointer;
  background-color: rgb(206, 71, 8);
}
.sequence__submit .sequence__btn .btn:active {
  top: 5px;
  -webkit-box-shadow: -4px 2px 1px 1px grey, -4px -2px 1px 1px lightgray, 4px 0px 1px 1px lightgray;
          box-shadow: -4px 2px 1px 1px grey, -4px -2px 1px 1px lightgray, 4px 0px 1px 1px lightgray;
}
.sequence__submit .sequence__btn .btn::after {
  content: "";
  background: rgb(169, 169, 169);
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}
.sequence__submit .sequence__btn .btn::before {
  content: "";
  background: rgb(169, 169, 169);
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 113%;
  z-index: -1;
}
.sequence__submit .sequence__btn .btn {
  width: 80px;
  padding: 1rem;
  color: #333;
  font-size: 1rem;
}
.sequence__submit .sequence__btn .btn--red {
  width: 80px;
  padding: 1rem;
  background-color: rgb(206, 71, 8);
}
.sequence__submit .sequence__loop {
  margin-left: -20px;
  margin-top: 5rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  /* Button 16 */
}
.sequence__submit .sequence__loop .sequence__loop-info {
  font-size: 2rem;
  margin: 1rem;
}
.sequence__submit .sequence__loop .sequence__loop-checkbox {
  width: 25px;
  height: 25px;
  margin: 1rem;
}
.sequence__submit .sequence__loop .sequence__loop-checkbox {
  position: relative;
}
.sequence__submit .sequence__loop .knobs,
.sequence__submit .sequence__loop .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sequence__submit .sequence__loop .button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}
.sequence__submit .sequence__loop .button.b2 {
  border-radius: 2px;
}
.sequence__submit .sequence__loop .checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.sequence__submit .sequence__loop .knobs {
  z-index: 2;
}
.sequence__submit .sequence__loop .layer {
  width: 100%;
  background-color: #95ff98;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  z-index: 1;
}
.sequence__submit .sequence__loop #button-16 .knobs:before {
  content: "YES";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 32px;
  height: 28px;
  color: #fff;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03f473;
  border-radius: 2px;
  -webkit-transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}
.sequence__submit .sequence__loop #button-16 .checkbox:active + .knobs:before {
  width: 46px;
}
.sequence__submit .sequence__loop #button-16 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}
.sequence__submit .sequence__loop #button-16 .checkbox:checked + .knobs:before {
  content: "NO";
  left: 37px;
  background-color: #f44336;
}
.sequence__submit .sequence__loop #button-16 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}
.sequence__task-number {
  position: absolute;
  right: 20px;
}
.sequence .draggingTask {
  opacity: 0.5;
}

.kinematics {
  position: relative;
  z-index: 80;
  width: 100vw;
  height: 60vh;
}
.kinematics .kinematics__hero {
  width: 100%;
  height: 100%;
  background-position-y: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/A07_2.jpg");
}
.kinematics--shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 174, 76);
  background: linear-gradient(-132deg, rgba(237, 131, 5, 0) 0%, rgba(255, 158, 48, 0.599) 100%);
  z-index: 90;
}
.kinematics__info {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 40%;
  color: #fff;
  z-index: 160;
}
.kinematics__info a {
  text-decoration: none;
}
.kinematics__info .kinematics__title {
  font-size: 5rem;
}
.kinematics__info .kinematics__text {
  font-size: 3rem;
}

.gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}
.gallery .photo_galery {
  position: relative;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gallery .photo_galery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gallery .section-title {
  padding: 5rem 0;
}

.about__info {
  margin: 4rem 0;
}
.about__title {
  margin-bottom: 1rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: rgb(127, 4, 175);
  background: -webkit-gradient(linear, left top, right top, from(rgb(127, 4, 175)), to(rgb(18, 94, 215)));
  background: linear-gradient(90deg, rgb(127, 4, 175) 0%, rgb(18, 94, 215) 100%);
}
footer .footer {
  width: 60vw;
  color: #fff;
  background-color: rgb(12, 12, 12);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin: 0 auto;
  padding: 2rem;
  z-index: 100;
  font-size: 1rem;
  letter-spacing: 2px;
}

@media (min-width: 576px) {
  nav ul li a {
    font-size: 2rem;
  }
  nav ul li .moody {
    width: 7rem;
    height: 7rem;
  }
  .hero .hero__btn {
    font-size: 2rem;
    margin: 2rem;
    padding: 2rem;
    width: 3rem;
    height: 3rem;
  }
  .hero .hero__title {
    font-size: 4rem;
  }
  .hero .hero__text {
    font-size: 2rem;
  }
  footer .footer {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 5rem;
  }
  .section-title {
    font-size: 3rem;
    padding: 2rem;
  }
  .section-title::after, .section-title::before {
    content: " --- ";
  }
  .hero .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
  .hero .slick-dots > * {
    margin: 20px;
    margin-top: -88px;
    width: 3rem;
    height: 3rem;
  }
  .hero__info {
    left: 60%;
  }
  .hero__info .hero__btn {
    font-size: 2rem;
    margin: 2rem;
    padding: 2rem;
    width: 3rem;
    height: 3rem;
  }
  .hero__info .hero__title {
    font-size: 4rem;
  }
  .hero__info .hero__text {
    font-size: 2rem;
  }
  .contact__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__box .contact__card {
    margin: 2rem;
    padding: 2rem;
    font-size: 1.6rem;
    width: 50%;
  }
  .login__form {
    max-width: 400px;
    width: 100%;
  }
  .login__form > * {
    margin: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
  }
  .login__form input {
    width: 200px;
  }
  .login__form .button {
    cursor: pointer;
    font-family: "Silkscreen", cursive;
    font-size: 1.5rem;
  }
  .gallery .photo_galery {
    width: 33.33%;
  }
  .sequence__sequence {
    padding: 2rem;
  }
  .sequence__box {
    padding: 5rem 0;
    margin: 0 5rem;
  }
  .sequence .sequence__program {
    padding: 3rem;
    margin-bottom: 2rem;
  }
  .sequence .sequence__program p {
    font-size: 2rem;
  }
  .sequence .sequence__program input {
    font-size: 2rem;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
  }
  .sequence .sequence__task-control .btn {
    width: 60px;
    height: 60px;
    padding: 1rem;
    font-size: 2rem;
  }
  .sequence .sequence__btn {
    margin-top: 5rem;
  }
  .sequence .sequence__btn .btn {
    font-size: 1.2em;
    font-family: "Silkscreen", cursive;
    color: #fff;
    width: 100px;
    height: 50px;
    background: rgb(240, 160, 12);
    border: 0px;
    margin: 10px 10px;
    position: relative;
    -webkit-box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
            box-shadow: inset -4px 2px 1px 1px grey, inset -4px -2px 1px 1px lightgray, inset 4px 0px 1px 1px lightgray;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .sequence .sequence__btn .btn--estop {
    background-color: tomato;
  }
  .sequence .sequence__btn .btn:hover {
    cursor: pointer;
    background-color: rgb(206, 71, 8);
  }
  .sequence .sequence__btn .btn:active {
    top: 5px;
    -webkit-box-shadow: -4px 2px 1px 1px grey, -4px -2px 1px 1px lightgray, 4px 0px 1px 1px lightgray;
            box-shadow: -4px 2px 1px 1px grey, -4px -2px 1px 1px lightgray, 4px 0px 1px 1px lightgray;
  }
  .sequence .sequence__btn .btn::after {
    content: "";
    background: rgb(169, 169, 169);
    position: absolute;
    left: -2.5%;
    top: 0;
    width: 105%;
    height: 100%;
    z-index: -1;
  }
  .sequence .sequence__btn .btn::before {
    content: "";
    background: rgb(169, 169, 169);
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 113%;
    z-index: -1;
  }
  .sequence .sequence__btn .btn {
    width: 250px;
    padding: 1rem;
    color: #333;
    font-size: 2rem;
  }
  .sequence .sequence__btn .btn--red {
    width: 250px;
    padding: 1rem;
    background-color: rgb(206, 71, 8);
  }
  .sequence .sequence__loop {
    font-size: 2rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 992px) {
  .container {
    padding: 5rem;
  }
  .section-title {
    margin: 5rem 0;
  }
  nav ul {
    opacity: 1;
    z-index: 1000;
  }
  nav .nav__mobile {
    opacity: 0;
  }
  nav .loginStatus {
    left: 3%;
    height: 106px;
  }
  .hero .hero__slider {
    position: relative;
  }
  .hero .hero__slider .hero__card {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  .hero .hero__slider .hero__card--1 {
    background-image: url("../img/A05.jpg");
  }
  .hero .hero__slider .hero__card--2 {
    background-position-x: -200px;
    background-image: url("../img/A02.jpg");
  }
  .hero .hero__slider .hero__card--3 {
    background-position-x: -200px;
    background-image: url("../img/A03.jpg");
  }
  .hero .hero__slider .hero__card--4 {
    background-position-x: -200px;
    background-image: url("../img/A04.jpg");
  }
  .hero .hero__slider .hero__card--5 {
    background-position-x: -200px;
    background-image: url("../img/A01.jpg");
  }
  .hero .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
  .hero .slick-dots > * {
    margin: 20px;
    margin-top: -88px;
    width: 3rem;
    height: 3rem;
  }
  .hero__info {
    position: absolute;
  }
  .hero__info .hero__btn {
    font-size: 2rem;
    margin: 2rem;
    padding: 2rem;
    width: 3rem;
    height: 3rem;
  }
  .hero__info .hero__title {
    font-size: 4rem;
  }
  .hero__info .hero__text {
    font-size: 2rem;
  }
  .shorts__box {
    padding: 3rem;
    margin: 2rem 0;
  }
  .shorts__box .shorts__card {
    padding: 5rem;
    width: 50%;
  }
  .shorts__info {
    font-size: 2rem;
  }
  .shorts__title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .contact__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__box .contact__card {
    margin: 2rem;
    padding: 2rem;
    font-size: 2rem;
    width: 50%;
  }
  .control__buttons {
    width: 50%;
  }
  .control__visualization {
    width: 50%;
  }
  .login__form {
    max-width: 400px;
    width: 100%;
  }
  .login__form > * {
    margin: 2rem;
    padding: 2rem;
    font-size: 2rem;
  }
  .login__form .button {
    cursor: pointer;
    font-family: "Silkscreen", cursive;
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .hero__info {
    position: absolute;
    left: 65%;
  }
  .hero__info .hero__btn {
    font-size: 2rem;
    margin: 2rem;
    padding: 2rem;
    width: 3rem;
    height: 3rem;
  }
  .hero__info .hero__title {
    font-size: 6rem;
  }
  .hero__info .hero__text {
    font-size: 3rem;
  }
}/*# sourceMappingURL=main.css.map */