$dark-main: #333;
$dark-gray: rgb(12, 12, 12);
$transparent: rgba(0,0,0,0.4);
$light-robot: rgb(235, 181, 81);
$light-color: #fff;
$robot: rgb(240, 160, 12);
$robot--modified: rgb(206, 71, 8);
$robot--transparent: rgba(240, 160, 12,0.1);
$kurek--color: rgb(18, 94, 215);
$samir--color: #8f0dc2;
