@import './colors';
@import './mixins';
@import './variables';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; // FLAGA BLEDU
}

body {
	position: relative;
	font-size: 1.6rem;
	background-color: $dark-main;
	color: $light-color;
	font-family: 'Silkscreen', cursive;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

.container {
	width: 100vw;
	max-width: 1000px;
	margin: auto;
	padding: 5rem;
}

.section-title {
	width: 100%;
	text-align: center;
	color: $light-color;
	text-transform: uppercase;
	font-size: 3rem;
	padding: 2rem;
}



nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	width: 100vw;
	height: auto;

	.loginStatus {
		position: absolute;
		left: 0;
		top: 0;
		width: 100vw;
		height: 150px;
		z-index: 151;

		.dot {
			position: absolute;
			right: 3%;
			top: 50%;

			.dottest {
				height: 20px;
				width: 20px;
				transform: rotate(45deg) translateY(-5px);
				background-color: gray;
			}
		}
	}

	ul {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		padding-top: 30px;
		padding-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		list-style: none;
		z-index: 100;
		transition: 0.3s;

		li {
			position: relative;
			a {
				text-decoration: none;
				font-size: 1.2rem;
				color: $light-color;
				text-decoration: none;
				transition: 0.5s;
			}

			a:hover {
				color: $robot;
				transform: scale(1.1);
				letter-spacing: 5px;
			}

			.moody {
				border-radius: 50%;
				width: 50px;
				height: 50px;
				background-image: url('../img/moody.png');
				background-position: center;
				background-position-y: -2%;
				background-size: cover;
				// box-shadow: 0px 0px 10px 1px $dark-main;
				transition: 0.5s;

				&:hover {
					box-shadow: 0px 0px 15px 1px $robot;
					transform: scale(1.1);
				}
			}
		}
	}
}

.hero {
	position: relative;
	z-index: 80;
	width: 100vw;
	height: 100vh;

	.slick-dots {
		display: flex;
		justify-content: center;
		list-style: none;

		& > * {
			margin: 20px;
			margin-top: -88px;
			width: 25px;
			height: 25px;
			border: none;
			background-color: $dark-main;
			transition: 0.2s ease-out;
			transform: scale(1) rotate(45deg);
			z-index: 150;

			&:hover {
				transform: scale(1.2) rotate(-90deg);
				background-color: $robot;
			}

			& > button {
				opacity: 0;
			}
		}
	}

	.hero__slider {
		position: relative;

		.hero__card {
			width: 100vw;
			height: 100vh;
			background-position: center;
			background-size: cover;
			&--1 {
				background-image: url('../img/moody-model.png');
			}
			&--2 {
				background-image: url('../img/Screenshot_3.png');
			}
			&--3 {
				background-image: url('../img/Screenshot_4.png');
			}
			&--4 {
				background-image: url('../img/Screenshot_5.png');
			}
			&--5 {
				background-image: url('../img/Screenshot_6.png');
			}
		}
	}

	&--shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: 90;
	}
}


.shorts {
	width: 100vw;
	height: auto;
	padding: 2rem;
	background-color: $light-robot;

	
}


.contact {
	position: relative;
	background-color: $dark-main;
	width: 100vw;

	&__box {
		display: flex;
		justify-content: center;
		text-align: center;

		.contact__card {
			margin: 2rem;
			padding: 2rem;
			font-size: 2rem;
			width: 50%;

			& > * {
				padding: 1rem;
				margin: 1rem;

				display: flex;
				align-items: center;
				justify-content: space-evenly;
			}

			a {
				text-decoration: none;
				margin: 1rem 1rem;
				padding: 1rem 1rem;
				transition: 0.2s;

				&:hover {
					transform: scale(1.1);
					color: $light-color;
				}
			}
		}

		.contact__card--one {
			color: $light-color;

			a {
				color: $kurek--color;
			}
		}

		.contact__card--two {
			color: $light-color;

			a {
				color: $samir--color;
			}
		}
	}
}

footer {
	display: flex;
	align-items: flex-end;

	.footer {
		width: 60vw;
		color: $light-color;
		background-color: $dark-gray;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		margin: 0 auto;
		padding: 2rem;
		z-index: 100;
		font-size: 1rem;
		letter-spacing: 2px;
	}
}

@media (min-width: 576px) {
	nav {
		ul {
			li {
				a {
					font-size: 2rem;
				}

				.moody {
					width: 100px;
					height: 100px;
				}
			}
		}
	}

	footer {
		.footer {
			font-size: 1.6rem;
		}
	}
}
